
<div class="flex-container">
    <div class="flex-child"></div>
    <div class="flex-child">
          <a href="#" class="input-icon"> 
          <i class="fa fa-search" style="color: #6743dd; font-size: 16px;"></i></a>
          <input class= "input-fields" type="text" placeholder="Search">
          <a href="#" class="input-icons"> 
            <span>
            <i class="fa fa-bell" style="font-size:22px;color:white"></i></span>
          
          </a>
          <a href="#" class="input-icons">
            <i class='bx bx-grid-alt' style="font-size:22px;color:white"></i></a>
          <a href="#" class="input-icons">
          <i class="fa fa-gear" style="font-size:22px;color:white"></i></a>
          <a href="#" class="input-icons">
          <i class="fa fa-sign-out" style="font-size:22px;color:white"></i></a>
        
    </div>
  </div>
  
  <nav class="navbar">
      
    <ul>
      <li><a routerLink="/home" routerLinkActive="active"> HOME </a></li>
      <li><a href="#"> SITES </a></li>
      <li><a routerLink="/social" routerLinkActive="active"> SOCIAL </a></li>
      <li><a routerLink="/people" routerLinkActive="active"> PEOPLE </a></li>
      <li><a routerLink="/stories" routerLinkActive="active"> STORIES </a></li>
      <li><a routerLink="/document" routerLinkActive="active"> DOCUMENTS </a></li>
        <div class="logo-image">
                <a href="#"> <img [src] = "ImagePath" style="width:100%"></a>
        </div>
        <div class="logo-text">
           SHALINI P <br>
            TEAM LEAD
        </div>
    </ul>
  </nav>