<section class="container">
    <span class="c"> Company News </span>
  <div class="container" style="padding-left: 4%;">
        <div class="part1">
            <div class="cards">
                <div class="image">
                    <img src="../../assets/images/team2.png" height="300px" width="100%" style=" width: 100%;padding: 20px;" />
                </div>
                <div class="description" >
                    <div class="heading">
                        Congratulate our team on achieving great success
                    </div>
                    <div class="paragraph">
                        A company’s mission is essential to running all aspects of the business. It helps the founders grow the company with a major goal in mind. It gives the employees something to work towards, and creates a sense of purpose. It also lets customers know what the company stands for and helps give them a personal connection.
                    </div>
                </div>
            </div>
        </div>
        <div class="part1">
            <div class="cards">
                <div class="image">
                    <img src="../../assets/images/team2.png" height="300px" width="100%" style=" width: 100%;padding: 20px;" />
                </div>
                <div class="description" >
                    <div class="heading">
                        Congratulate our team on achieving great success
                    </div>
                    <div class="paragraph">
                        A company’s mission is essential to running all aspects of the business. It helps the founders grow the company with a major goal in mind. It gives the employees something to work towards, and creates a sense of purpose. It also lets customers know what the company stands for and helps give them a personal connection.
                    </div>
                </div>
            </div>
        </div>
        <div class="part1" style="padding-bottom: 4%;">
            <div class="cards">
                <div class="image">
                    <img src="../../assets/images/team2.png" height="300px" width="100%" style=" width: 100%;padding: 20px;" />
                </div>
                <div class="description" >
                    <div class="heading">
                        Congratulate our team on achieving great success
                    </div>
                    <div class="paragraph">
                        A company’s mission is essential to running all aspects of the business. It helps the founders grow the company with a major goal in mind. It gives the employees something to work towards, and creates a sense of purpose. It also lets customers know what the company stands for and helps give them a personal connection.
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>