.flex-container {
    background: #09134f;
    display: flex;
    padding: 5px;
    height: fit-content;
  }
  
  .flex-child {
    width: 50%;
    float: left;
  }
  .badge{
    position: relative;
    top: -9px;
    right: -18px;
    padding: 2px 2px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  
  .input-fields {
    width: 50%;
    text-indent: 35px;
    border-radius: 5px;
    height: 34px;
  }
  .input-fields::placeholder{
  color: #6743dd;
  font-size: 4mm;
  line-height: 34px ;
  }
  .input-icons i {
    position:absolute;
    padding: 6px;
    
  }
  .input-icon {
    position:absolute;
    padding: 7px;
    padding-left: 15px;
  }
  .input-icons {
    padding-left: 30px;
    padding-top: 10px;
  
    
  }
  
  
  .navbar {
    background-color: #303a99;
  
    width: 100%;
    position: static;
   
  }
  
    .navbar ul {
        margin-left: 130px;
    }
  
    .navbar li {
        float: left;
        list-style: none;
        margin: 15px 20px;
        font-family: system-ui;
        font-weight: 600;
        font-size: 16px;
    }
  
        .navbar li a {
            padding: 3px 3px;
            color: white;
            text-decoration: none;
        }
  
            .navbar li a:hover {
                color: white;
                border-bottom: 4px solid #ff675a;
            }
  
            .navbar li a.active {
                color: white;
                border-bottom: 4px solid #ff675a;
            }
  
  .logo-text {
    float: left;
    color: white;
    margin-left: 5px;
  }
  
  .logo-image {
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    max-width: 40px;
    max-height: 40px;
    margin-left: 80px;
  }
  
  span.a {
    color: #7b7676;
    font-size: 15px;
    font-weight: 700;
  }
  
  span.b {
    font-weight: 100;
    color: #777373;
    font-size: 12px;
  }
  
  span.c {
    color: darkblue;
    font-size: 21px;
    border-bottom: 4px solid #f72c83;
    border-bottom-style: solid;
  }
  
  
  
  .placeholder {
    color: grey;
    padding: 4px;
  }
  
  .button {
    padding: 5px 15px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #143296;
    border: none;
    border-radius: 50px;
  }
  
    .button:hover {
        background-color: darkblue;
    }
  
  input {
    height: 25px;
    width: 180px;
  }
  
  section.B {
    padding: 4px;
    padding-left: 2px;
    color: white;
  }
  
  section.A {
    padding-bottom: 4px;
  }
  
  section.C {
    padding-bottom: 5px;
    padding-top: 1px;
    padding-left: 2px;
    background-color: white;
    border-radius: 5px;
  }
  
  .carousel {
    position: relative;
    width: 100%;
  }
  
  .left_part {
    width: 75%;
    padding: 10px;
  }
  
  .right_part {
    width: 25%;
    padding: 10px;
  }
  
  .tab1 {
    background-color: #091351;
    color: white;
    border-radius: 10px;
   
  }
  .image-left{
    
    padding-top: 20px;
    margin-left: 10px;
    width: 30%;
  }
  .text-l {
    padding-top: 20px;
    text-align: center;
  }
  
  .text-left {
    float: right;
    width: 70%;
    padding-bottom: 5px
  }
  
  .tab2, .tab3, .tab4 {
    background-color: white;
    color: #081075;
    border-radius: 8px;
    font-weight: 600;
    font-size: initial;
  }
  
  a {
    text-decoration: none;
  }
  
    a:hover {
        color: white;
        text-decoration: none;
    }
  
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .office-image {
    position: relative;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-family: Arial;
    font-size: 25px;
  }
  
  .container {
    display: flex;
  }
  
  h2 {
    margin-left: 30px;
    margin-top: 3px;
  }
  
  .right-half {
  float: right;
    width: 50%;
    padding: 10px;
  }
  
  .left-half {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .card, .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 10px;
    background-color: #727CE4;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    border-radius: 10px;
  }
  
    .card:hover, .card2:hover {
        box-shadow: 0 8px 16px 0 ;
    }
  
  .image-data, .image-data2 {
    height: 150px;
    position: relative;
    z-index: 1;
  }
  
  .background-image {
    width: 80%;
    height: 90%;
    position: absolute;
    background: url("../../assets/team1.png") center no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
  }
  
  .background-image2 {
    width: 80%;
    height: 90%;
    position: absolute;
    background: url("../../assets/team2.png") center no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
  }
  
  .background-image3 {
    width: 80%;
    height: 90%;
    position: absolute;
    background: url("../../assets/team2.png") center no-repeat;
    background-size: cover;
    padding: 5px;
    margin: 2px;
  }
  
  .card1-data, .card2-data {
    position: relative;
    margin-left: -20px;
    margin-right: 40px;
  }
  
  .title {
    font-size: 20px;
    color: white;
    margin: 3px 0px 6px 0px;
    font-weight: 100;
  }
  
  .title2 {
    font-size: 18px;
    color: white;
    margin: 2px 0px 6px 1px;
    font-weight: 100;
  }
  
  .subtitle {
    font-size: 15px;
    color: white;
    margin: 0rem 0rem 0rem 0rem;
    font-weight: 100;
  }
  
  .description1 {
    position: relative;
    background-color: white;
    color: black;
    margin-top: 6px;
  }
  
  .description2 {
    position: relative;
    color: white;
    font-weight: 100;
    font-size: 13px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 4px;
  }
  
  @media screen and (min-width: 300px) {
    .card {
        flex-direction: row;
        max-height: 600px;
    }
  
    .image-data {
        flex-basis: 60%;
        height: unset;
    }
  
    .card1-data {
        flex-basis: 70%;
    }
  }
  
  @media screen and (min-width: 300px) {
    .card2 {
        flex-direction: row;
        max-height: 800px;
    }
  
    .image-data2 {
        flex-basis: 60%;
        height: unset;
    }
  
    .card2-data {
        flex-basis: 70%;
    }
  }
  
  .part1 {
    flex: 1;
    width: 33%
  }
  
  .part2 {
    flex: 1;
    width: 33%
  }
  
  .part3 {
    flex: 1;
    width: 33%
  }
  
  .abc{
  float: left;
  height: 50px;
  width: 17%;
  background-color: #f1f0eb; 
  
  }
  .abcd{
    float: right;
    right: 0px;
    width:75%;
    text-indent: 12px;
    line-height: 55px;
    font-size:4mm;
    height:50px;
    background-color: #f1f0eb; 
  }
  .container-fluid {
    padding-top: 10px;
  }
  .Document-box {
    margin-top: 15px;
    margin-left: 27px;
  }
  .task-card {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .card-description {
    color: #504b4b;
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 65px;
  }
  span.e {
    font-weight: 100;
    margin-left: 20px;
  }
  section.one {
    padding-bottom: 10px;
  }
  section.two {
    padding-bottom: 10px;
  }
  
  section.three {
    padding-bottom: 10px;
  }
  section.four {
    padding-bottom: 10px;
  }
  
  .button1 {
    padding: 5px 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #313b9d;
    border: none;
    border-radius: 50px;
    float: right;
    margin-right: 10px;
    width: 100px;
  }
  
    .button1:hover {
        background-color: darkblue;
    }
    .profileImage {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #8e8d89;
      font-size: 7mm;
      color: #fff;
      text-align: center;
      line-height: 60px;
      float: left;
      
    }
    
  .abcde {
    float: right;
    right: 0px;
    width:75%;
    text-indent: 12px;
    font-size:4mm;
    height:60px;
    
  }
  .employee-dir {
  
    padding-left: 30px;
    padding-top: 10px;
  }
  .inputs {
    position:relative;
    padding: 1px;
    float: right;
    top: -30px;
    right: 25px;
  }
  .input-f {
    width: 100%;
    text-indent: 35px;
    border-radius: 20px;
    height: 40px;
    border: solid 1px;
  }
  .input-f ::placeholder{
    color: grey;
    font-size: 10px;
  }
  
  .task-card {
    height: 100%;
    width: 100%;
  }
  
  .card-description {
    font-size: 15px;
    
    
  }
  span.e {
    font-weight: 100;
    margin-left: 20px;
  }
  section.one {
    padding-bottom: 10px;
  }
  section.two {
    padding-bottom: 10px;
  }
  
  section.three {
    padding-bottom: 10px;
  }
  section.four {
    padding-bottom: 10px;
  }
  
  .button1 {
    padding: 5px 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #143296;
    border: none;
    border-radius: 50px;
    float: right;
    margin-right: 10px;
    width: 100px;
  }
  
    .button1:hover {
        background-color: darkblue;
    }
  
    .btn-primary{
      margin-top: 20px;
       height: 85px; 
       border-radius: 5px; width: 31%; 
       background-color: #F44F56; border-color: #F44F56;
  }
  .btn-secondary{
      margin-top: 20px;
       height: 85px; 
       border-radius: 5px; width: 31%; 
       background-color: #333D9C; border-color: #333D9C;
  }
  .btn-success{
      margin-top: 20px; 
      height: 85px;
       border-radius: 5px; 
       width: 31%; 
       background-color: #4DAD0D; border-color: #4DAD0D
  }
  .innertext{
    padding-top: 25px;
    font-size: 13px;
    font-weight: 5px;
  }
  .Document-boxe {
    margin-left: 12px;
  }
  
  .card-3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 12px;
    float: left;
  }
  
  .card-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 9px;
    display: flex;
    flex-direction: column;
    height: 60px;
    font-size: 12px;
    width: 95%;
    border-radius: 10px;
    margin-top: 15px;
    
    float: right;
  }
  
  .partr {
    flex: 1;
    width: 33%;
    float: left;
  }
  
  .partc {
    flex: 1;
    width: 33%;
  }
  
  .partl {
  
    flex: 1;
    width: 33%;
    
  }
  
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
    height:fit-content;
    width: 90%;
    border-radius: 10px;
    
    float: right;
  }
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  p {
    color: #4f68bb;
  }
  
  .button-1 {
    background-color: #e2e2e2;
    border-radius: 10px;
    margin: 10px;
    height: 34px;
  }
  .card4 {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    font-size: 12px;
   
  }
  
    .card4:hover {
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    }
  
  .button3 {
   
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #4f68bb;
    border: none;
    border-radius: 7px;
    float: right;
    margin-right: 15px;
    width: 100px;
    height: 8%;
  }
    .button3:hover {
        background-color: #1a5ce2;
    }
  span.f{
    color:rgb(113, 113, 226);
  }
  .images {
   left: 0;
   right: 0;
  }