         <section class="container">

        <div class="container-fluid">
            <div class="leftside" style="float: left; width: 25%;padding-left: 1.5%;">
            <span class="c"> Employee Directory</span>
            </div>
         
            <div ngbDropdown class="rightside"     style="float: left; width: 35%; padding-top: 0.5%; ">
              <select name="caseprogram" class="form-control" aria-placeholder="Hecm-assaigned"  id="dropdownMenuLink"   class="dropdown-toggle" style="width: 250px; height:30px ;" >
                <option value=""  ><Select>  Select Department</Select></option>
                <option value="b">b</option>
                <option value="c">c</option>
                <option value="d">d</option>
              </select>
          </div>
        </div> 
        &nbsp; 
      
        
        
        <nav class="navbar" style="background-color: #434AA1; height: 4px; margin-left: 25px; width: 1060px; border-radius: 10px; text-align: center;padding-top: 10px;">
            <div class="container-md">
              <a class="navbar-brand" href="#" style="color: aliceblue; font-size: 18px; word-spacing: 24px;">
                A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</a>
                
            </div>
          </nav>
  

          <div class="row row-cols-1 row-cols-md-3 " style="width: 1070px; margin-left: 25px;border: white;"   >
            <div class="col">
                <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Lewis Smith</h5>
                            <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
            
                        </div>
                    </div>
                    <div class="container">
                        <div class="card-footer">
                            <span class="d">View More</span>
                        </div>
                        <div class="card-footers">
                            <div class="card-footers-content">
                               <b> Designation: &nbsp; Marketing Head <br /></b>
                                Department:  &nbsp; Marketing<br />
                                Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
            
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            </div>
              
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
           
              
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
          </div>
&nbsp;&nbsp;

          <div class="row row-cols-1 row-cols-md-3 " style="width: 1070px; margin-left: 25px;border: none;"   >
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
                
            </div>
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
             
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
          </div>&nbsp;&nbsp;

          <div class="row row-cols-1 row-cols-md-3 " style="width: 1070px; margin-left: 25px;border: none;"   >
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
             
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
          </div>&nbsp;&nbsp;

          <div class="row row-cols-1 row-cols-md-3 " style="width: 1070px; margin-left: 25px;border: none;"   >
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
             
            <div class="col">
              <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/images/employee-logo.JPG"  width="200px" height="200px" class="img-fluid rounded-start" alt="..."  style="padding: 10px; object-fit: cover; ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lewis Smith</h5>
                        <p class="card-text"><i class="fas fa-envelope" style="color: black;"></i>&nbsp; lewis.s@gmail.com<br><i class="fab fa-skype" style="color: #2B91D2;"></i>&nbsp; lewis.s</p>
        
                    </div>
                </div>
                <div class="container">
                    <div class="card-footer">
                        <span class="d">View More</span>
                    </div>
                    <div class="card-footers">
                        <div class="card-footers-content">
                            Designation: &nbsp; Marketing Head <br />
                            Department:  &nbsp; Marketing<br />
                            Branch:&emsp;&emsp;&ensp;&ensp;Pune Office
        
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
          </div>
    </section>
